<p>
  details works!
</p>

<div class="container-fluid" style="padding-left:80px;padding-right:80px">
  <div>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active">Pet1 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Pet2</a>
        </li>
      </ul>
  </div>
<app-image-viewer [images]="['iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==', 'https://picsum.photos/900/500/?random']"
[idContainer]="'idOnHTML'"
[loadOnInit]="true"></app-image-viewer>
</div>
